.content .point {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-color: #adadd6;
    box-shadow: inset 2px 2px 5px rgb(100, 99, 97), 2px 2px 5px rgba(255, 255, 255, 0.5);


}

.content {
    background: white;

}
